* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: '';
    background-color: cornsilk;
  }
  
  main {
    width: 95vw;
    margin: 60px auto;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .card {
    background: #e9aed3;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 9px #e0caca, -5px -5px 9px #dfbaba;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .card-img {
    overflow: hidden;
  }
  
  .card .card-img img {
    max-width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .card:hover .card-img img {
    transform: scale(1.05);
  }
  
  .card-info {
    margin-top: 10px;
  }
  
  .card-info p {
    font-size: 1rem;
    margin: 10px 0;
  }